# JetBrains
.idea

# Visual Studio
.vs
*.vsproj
*.vcxproj
*.filters
*.sln

# Folders
x64
build
UnityPlugin
Samples
SampleBase
ThirdParty
CMakeFiles*
Tutorials/*.cmake

Tutorials/Tutorial00*
Tutorials/Tutorial01*
Tutorials/Tutorial02*
Tutorials/Tutorial03*
Tutorials/Tutorial04*
Tutorials/Tutorial05*
Tutorials/Tutorial06*
Tutorials/Tutorial07*
Tutorials/Tutorial08*
Tutorials/Tutorial09*
Tutorials/Tutorial10*
Tutorials/Tutorial11*
Tutorials/Tutorial12*
Tutorials/Tutorial13*
Tutorials/Tutorial14*
Tutorials/Tutorial15*
Tutorials/Tutorial16*
Tutorials/Tutorial17*
Tutorials/Tutorial18*
Tutorials/Tutorial19*
Tutorials/Tutorial21*
Tutorials/Tutorial22*
Tutorials/Tutorial23*
Tutorials/Tutorial24*
Tutorials/Tutorial25*
Tutorials/Tutorial26*
Tutorials/Tutorial27*

Tutorials/Tutorial20_MeshShader/Debug*
Tutorials/Tutorial20_MeshShader/Release*
Tutorials/Tutorial20_MeshShader/*.dir
/Tutorials/Tutorial20_MeshShader/cmake_install.cmake
/cmake_install.cmake
